.vscode/**
typings/**
out/**
test/**
src/**
tmp/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
webpack.config.js
node_modules
binary_modules/electron*

!node_modules/@vscode/webview-ui-toolkit
