.threads-grid {
  gap: 0;
  text-align: right;
}

.threads-header-row {
  border: 1px solid var(--vscode-panel-border);
}

.threads-row {
  border: 1px solid var(--vscode-panel-border);
}

.threads-header-cell {
  padding: 0px;
}

.threads-cell {
  padding: 0px;
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size); 
}

vscode-link {
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);  
}
